@import "helper/variable";
.flex-center{
	display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
	padding: 0px;
	li.nav-item {
	    border-left: 1px solid;
	    padding: 20px;
	    &.active{
	    	background: $mov_light;
	    	a.nav-link{
	    		color: #FFF;
	    	}
	    	
	    }
	}
}