@import "helper/variable";
.flex-center{
	display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
	padding: 0px;
	height: 105px;
	.navbar-brand{
		padding: 0;
		img{
			width: 300px;
		}
	}
	li.nav-item {
	    border-left: 1px solid;
	    padding: 33px 20px;
	    &.active{
	    	background: $mov_light;
	    	a.nav-link{
	    		color: #FFF;
	    	}
	    	
	    }
	}
}